// out: ../style/main.css, sourcemap: false, compress: true

.local-lpfmigrator {
    .progresstable, .stages {
        width: 100%;
        td {
            text-align: center;
        }
        .completed {
            background-color: rgba(0, 255, 0, 0.1);
        }
        .selected {
            background-color: rgba(255, 0, 0, 0.1);
        }
    }
}
