{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}

<div class="local_lpfmigrator bulk">
    <form method="POST" action="" enctype="multipart/form-data">
        <label>
            <input type="checkbox" name="reallydo" />
            Check this to really do it. If not checked we will only simulate.
        </label><br />
        <label for="{{uniqid}}-lpfgroup">LPF-Group</label>
        <select name="lpfgroup" id="{{uniqid}}-lpfgroup">
            <option{{#movetogroupC}} selected="selected" {{/movetogroupC}}>C</option>
            <option{{#movetogroupB}} selected="selected" {{/movetogroupB}}>B</option>
            <option{{#movetogroupA}} selected="selected" {{/movetogroupA}}>A</option>
        </select><br />
        <label for="{{uniqid}}-stage">Let them finish Stage:</label>
        <select name="stage" id="{{uniqid}}-stage">
            <option value="1"{{#movetostage1}} selected="selected" {{/movetostage1}}>{{#str}} stage_1, local_lpfmigrator {{/str}}</option>
            <option value="2"{{#movetostage2}} selected="selected" {{/movetostage2}}>{{#str}} stage_2, local_lpfmigrator {{/str}}</option>
            <option value="3"{{#movetostage3}} selected="selected" {{/movetostage3}}>{{#str}} stage_3, local_lpfmigrator {{/str}}</option>
            <option value="4"{{#movetostage4}} selected="selected" {{/movetostage4}}>{{#str}} stage_4, local_lpfmigrator {{/str}}</option>
        </select><br />
        <input type="submit" value="{{#str}} submit {{/str}}" />
    </form>
</div>
