{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}

<div class="local_lpfmigrator details">
    {{> local_lpfmigrator/mainmenu}}
    <table class="generaltable">
        <tbody>
            <tr>
                <th width="50%">{{#str}} instancename, local_lpfmigrator {{/str}}</th>
                <th>{{instancename}}</th>
            </tr>
            <tr>
                <th width="50%">{{#str}} admins, local_lpfmigrator {{/str}}</th>
                <td><ul>
                    {{#adminusers}}
                    <li>
                        <a href="mailto:{{email}}">
                            {{firstname}} {{lastname}}
                        </a>
                    </li>
                    {{/adminusers}}
                </ul></td>
            </tr>
            {{#editable}}
                <form action="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{id}}" />
                    <tr>
                        <th>{{#str}} orgid, local_lpfmigrator {{/str}}</th>
                        <td><input type="text" value="{{orgid}}" name="orgid" /></td>
                    </tr>
                    <tr>
                        <th>{{#str}} lpfgroup, local_lpfmigrator {{/str}}</th>
                        <td><input type="text" value="{{lpfgroup}}" name="lpfgroup" /></td>
                    </tr>
                    <tr>
                        <th>{{#str}} path_data, local_lpfmigrator {{/str}}</th>
                        <td>
                            <input type="text" value="{{path_data}}" name="path_data" /><br />
                            {{#str}} datasize, local_lpfmigrator {{/str}} {{datasize_hr}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{#str}} path_web, local_lpfmigrator {{/str}}</th>
                        <td><input type="text" value="{{path_web}}" name="path_web" /></td>
                    </tr>
                    <tr>
                        <th>{{#str}} path_backup, local_lpfmigrator {{/str}}</th>
                        <td>
                            <input type="text" value="{{path_backup}}" name="path_backup" /><br />
                            {{#str}} backupsize, local_lpfmigrator {{/str}} {{backupsize_hr}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{#str}} stage, local_lpfmigrator {{/str}}</th>
                        <td>
                            <select name="stage">
                                {{#stages}}
                                <option value="{{value}}" {{#selected}} selected="selected" {{/selected}}>{{label}}</option>
                                {{/stages}}
                            </select>
                            {{#removaloptout}}
                                <p>{{#str}} removaloptout, local_lpfmigrator {{/str}}</p>
                            {{/removaloptout}}
                        </td>
                    </tr>
                    <tr>
                        <th>{{#str}} auth, local_lpfmigrator {{/str}}</th>
                        <td>{{instancename}}:{{path_backup_pwd}}</td>
                    </tr>
                    <tr>
                        <th>{{#str}} comments, local_lpfmigrator {{/str}}</th>
                        <td><textarea name="comments" style="width: 100%; height: 4em;">{{comments}}</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="{{#str}} save {{/str}}" class="btn btn-primary btn-block" /></td>
                    </tr>
                </form>
            {{/editable}}
            {{^editable}}
            <tr>
                <th>{{#str}} orgid, local_lpfmigrator {{/str}}</th>
                <td>{{orgid}}</td>
            </tr>
            <tr>
                <th>{{#str}} auth, local_lpfmigrator {{/str}}</th>
                <td>{{instancename}}:{{path_backup_pwd}}</td>
            </tr>
            {{/editable}}
            <tr>
                <td>
                    {{#path_web}}<a href="{{path_web}}" target="_blank" class="btn btn-block btn-secondary">
                        {{#str}} open_lpf, local_lpfmigrator {{/str}}
                    </a>{{/path_web}}
                </td>
                <td>
                    {{#path_backup}}<a href="/lpf{{backupnr}}/{{instancename}}" target="_blank" class="btn btn-block btn-secondary">
                        {{#str}} open_backup, local_lpfmigrator {{/str}}
                    </a>{{/path_backup}}
                </td>
            </tr>
        </tbody>
    </table>

    <!--
    <table class="progresstable">
        <tr>
            {{#stages}}
            <td class="{{#completed}} completed {{/completed}}{{#selected}} selected {{/selected}}">
                {{label}}
            </td>
            {{/stages}}
        </tr>
    </table>
    -->

    <table class="stages generaltable">
        {{#stages}}
            <tr class="{{#completed}} completed {{/completed}}{{#selected}} selected {{/selected}}">
                <td>
                    {{#completed}}
                        {{#pix}} i/completion-auto-pass, core {{/pix}}
                    {{/completed}}
                    {{#selected}}
                        {{#pix}} i/completion-auto-n, core {{/pix}}
                    {{/selected}}
                </td>
                <th width="50%">{{label}}</th>
                <td>
                    {{#is0}} {{! not staged }}
                        {{#editable}}
                            {{#selected}}
                                <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&startstaging=on" class="btn btn-primary btn-block">
                                    {{#str}} staging_start, local_lpfmigrator {{/str}}
                                </a>
                            {{/selected}}
                        {{/editable}}
                        {{^editable}}
                            {{#selected}}
                                {{#str}} staging_not_started, local_lpfmigrator {{/str}}
                            {{/selected}}
                        {{/editable}}
                        {{#completed}}
                            {{#str}} staging_started, local_lpfmigrator {{/str}}
                        {{/completed}}
                    {{/is0}}
                    {{#is1}} {{! notify admins }}
                        {{#editable}}
                            {{#selected}}
                            <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&notifyadmins=on" class="btn btn-primary btn-block">
                                {{#str}} notify_admins, local_lpfmigrator {{/str}}
                            </a>
                            {{/selected}}
                        {{/editable}}
                        {{#completed}}
                            {{#str}} notify_admins_done, local_lpfmigrator {{/str}}
                        {{/completed}}
                    {{/is1}}
                    {{#is2}} {{! notify users }}
                        {{#editable}}
                            {{#selected}}
                            <table border="0" width="100%">
                                <tr>
                                    <td width="50%">
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&notifyusers=on" class="btn btn-primary btn-block">
                                            {{#str}} notify_users_on, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&notifyusers=off" class="btn btn-primary btn-block">
                                            {{#str}} notify_users_off, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            {{/selected}}
                        {{/editable}}
                        {{#has_notifyusers_enabled}}
                            {{#str}} currently_on, local_lpfmigrator {{/str}}
                        {{/has_notifyusers_enabled}}
                        {{^has_notifyusers_enabled}}
                            {{#str}} currently_off, local_lpfmigrator {{/str}}
                        {{/has_notifyusers_enabled}}
                        {{#completed}}
                            <a href="{{path_web}}/index.php?secretpurge=1029384756" target="_blank" class="btn btn-secondary btn-block">
                                {{#str}} purge_caches, local_lpfmigrator {{/str}}
                            </a>
                        {{/completed}}
                    {{/is2}}
                    {{#is3}} {{! set maintenance mode }}
                        {{#editable}}
                            {{#selected}}
                            <table border="0" width="100%">
                                <tr>
                                    <td width="50%">
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&maintenance=on" class="btn btn-primary btn-block">
                                            {{#str}} maintenance_on, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&maintenance=off" class="btn btn-secondary btn-block">
                                            {{#str}} maintenance_off, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            {{/selected}}
                        {{/editable}}
                        {{#has_maintenance_enabled}}
                            {{#str}} currently_on, local_lpfmigrator {{/str}}
                        {{/has_maintenance_enabled}}
                        {{^has_maintenance_enabled}}
                            {{#str}} currently_off, local_lpfmigrator {{/str}}
                        {{/has_maintenance_enabled}}
                    {{/is3}}
                    {{#is4}} {{! schedule backups }}
                        {{#has_backups_enabled}}
                            {{#str}} currently_on, local_lpfmigrator {{/str}}
                        {{/has_backups_enabled}}
                        {{^has_backups_enabled}}
                            {{#str}} currently_off, local_lpfmigrator {{/str}}
                        {{/has_backups_enabled}}
                        {{#editable}}
                            {{#selected}}
                            <table border="0" width="100%">
                                <tr>
                                    <td width="50%">
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&backups=on" class="btn btn-primary btn-block">
                                            {{#str}} backups_on, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&backups=off" class="btn btn-secondary btn-block">
                                            {{#str}} backups_off, local_lpfmigrator {{/str}}
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            {{/selected}}
                            {{#completed}}
                                <a href="{{path_web}}/index.php?secretpurge=1029384756" target="_blank" class="btn btn-secondary btn-block">
                                    {{#str}} purge_caches, local_lpfmigrator {{/str}}
                                </a>
                                <a href="{{wwwroot}}/local/lpfmigrator/schedule.php?log={{instancename}}" class="btn btn-secondary btn-block">
                                    {{#str}} log, local_lpfmigrator {{/str}}
                                </a>
                                <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&clearbackups=1" target="_blank" class="btn btn-secondary btn-block">
                                    {{#str}} backups_clear, local_lpfmigrator {{/str}}
                                </a>
                            {{/completed}}
                        {{/editable}}
                    {{/is4}}
                    {{#is5}} {{! make review }}
                        <p>{{#str}} has_courses, local_lpfmigrator, { "remote": {{#quote}}{{courses_remote}}{{/quote}}, "backup": {{#quote}}{{courses_backup}}{{/quote}} } {{/str}}</p>
                        {{#editable}}
                            {{#selected}}
                                {{^courses_equals}}
                                    <p class="alert alert-danger"> {{#str}} proceed_anyway, local_lpfmigrator {{/str}}</p>
                                {{/courses_equals}}
                                <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&renamebackups=1" class="btn btn-primary btn-block">
                                    {{#str}} rename_backup_files, local_lpfmigrator {{/str}}
                                </a>
                                <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&review=on" class="btn btn-primary btn-block">
                                    {{#str}} confirm {{/str}}
                                </a>
                                <a href="{{wwwroot}}/local/lpfmigrator/compare.php?id={{id}}" class="btn btn-secondary">
                                    {{#str}} compare {{/str}}
                                </a>
                            {{/selected}}
                        {{/editable}}
                    {{/is5}}
                    {{#is6}} {{! send auth_info }}
                        {{#editable}}
                            {{#selected}}
                            <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&sendauthinfo=on" class="btn btn-primary btn-block">
                                {{#str}} send_authinfo, local_lpfmigrator {{/str}}
                            </a>
                            {{/selected}}
                        {{/editable}}
                        {{#completed}}
                            {{#str}} send_authinfo_done, local_lpfmigrator {{/str}}
                        {{/completed}}
                    {{/is6}}
                    {{#is7}} {{! removal web }}
                        {{#editable}}
                            {{#selected}}
                            <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&removeweb=on" class="btn btn-primary btn-block alert alert-danger">
                                {{#str}} instance_removeweb_now, local_lpfmigrator {{/str}}
                            </a>
                            {{/selected}}
                        {{/editable}}
                        {{^editable}}
                            {{#selected}}
                                {{#str}} instance_remove_soon, local_lpfmigrator {{/str}}
                            {{/selected}}
                        {{/editable}}
                        {{#has_replaced_webroot}}
                            {{#str}} webroot_replaced, local_lpfmigrator {{/str}}
                        {{/has_replaced_webroot}}
                        {{#completed}}{{^has_replaced_webroot}}
                            <strong>{{#str}} webroot_not_yet_replaced, local_lpfmigrator {{/str}}</strong>
                        {{/has_replaced_webroot}}{{/completed}}
                    {{/is7}}
                    {{#is8}} {{! removal data }}
                        {{#editable}}
                            {{#selected}}
                            <a href="{{wwwroot}}/local/lpfmigrator/details.php?id={{id}}&removedata=on" class="btn btn-primary btn-block alert alert-danger">
                                {{#str}} instance_removedata_now, local_lpfmigrator {{/str}}
                            </a>
                            {{/selected}}
                        {{/editable}}
                        {{^editable}}
                            {{#selected}}
                                {{#str}} instance_remove_soon, local_lpfmigrator {{/str}}
                            {{/selected}}
                        {{/editable}}
                        {{#completed}}
                            {{#has_removed_datadir}}
                                <p>{{#str}} instance_removed_datadir, local_lpfmigrator {{/str}}</p>
                            {{/has_removed_datadir}}
                            {{^has_removed_datadir}}
                                <p>{{#str}} instance_removed_datadir_missing, local_lpfmigrator {{/str}}</p>
                            {{/has_removed_datadir}}
                            <p>{{#str}} instance_removed_database, local_lpfmigrator {{/str}}</p>
                        {{/completed}}
                    {{/is8}}
                    {{#is9}} {{! removed }}
                        {{#selected}}
                            {{#str}} instance_removed, local_lpfmigrator {{/str}}
                        {{/selected}}
                    {{/is9}}
                </td>
            </tr>
        {{/stages}}
    </table>
</div>
